.container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: nowrap;
}

.cursor {
  float: left;
  height: 20px;
  background-color: black;
  width: 7px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}